* {
    font-family: "Google Sans","Noto Sans Myanmar UI",arial,sans-serif;
}
.container {
max-width:800px;
border-radius: 8px;
border: 1px solid #dadce0;

}
.error {
    color: red;
    font-weight: 600;
}